@tailwind base;
@tailwind components;
@tailwind utilities;



/* Reset Everything */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
}

main {
  min-height: 100vh;
  display: flex;
}

/* Get system theme color */
@media (prefers-color-scheme: dark) {
  main {
    background-color: #000;
    color: #fff;
  }
}

/* Dark Mode */
main[data-theme="dark"] {
  background-color: #000;
  color: #fff;
}

/* Light Mode */
main[data-theme="light"] {
  background-color: #fff;
  color: #000;
}